.hover-button:hover {
    box-shadow: 1px 1px 1px #3347ff;
    font-weight: bold;
}

.hover-button:active {
    opacity: 0.8;
}

.logout-button {
    background-color: #ff4d4d;
    border: none;
}

.logout-button:hover {
    background-color: #ff3333;
}

.logout-button:active {
    background-color: #ff1a1a;
}

.save-button {
    background-color: #6ca7dd;
    color: black;
    border: none;
    position: fixed;
    bottom: 2rem;
}

.edit-button {
    position: absolute;
    top: 2rem;
    right: 5rem;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-button:hover {
    background-color: #0056b3;
}

.search-button {
    background-color: #22b7ad;
    color: white;
    border: none;
    padding: 0rem 0.5rem;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 5px;
    height: 30px;
}

.add-song-button {
    background-color: #22b7ad;
    color: white;
    border: none;
    margin: 10px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
}