.search-bar input {
    width: 50%;
    height: 30px;
    padding: 5px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #22b7ad;
    border-radius: 4px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 90%;
    height: 50px;
    border: 2px solid black;
    border-radius: 5px;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 100%;
}