.login-page {
    font-family: Arial, sans-serif;
    background-color: #353535;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  /* Keep existing styles under .login-page */
  .login-page .login-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  .login-page .login-form h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .login-page .login-input-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .login-page .login-input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
  }
  
  .login-page .login-input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-page button {
    width: 100%;
    padding: 10px;
    background-color: #4d81ef;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .login-page button:hover {
    background-color: #97a8d1;
  }