* {
  box-sizing: border-box;
}
#root {
  /* max-width: 1280px; */
  max-width: 1280;
  display: flex;
  justify-content: center;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}
.bold {
  font-weight: bold;
}
.bottom {
  margin-bottom: 0;
}
.left-align {
  text-align: left;
}


.read-the-docs {
  color: #888;
}
.homepage {
  display: grid;
  align-items: center;
  max-width: 1280px;
}

.admin-user-access {
  display: grid;
  align-items: center;
  /* width: 1280px; */
  max-width: 1280px;
}
