nav {
  text-align: end;
  /* padding: 0.5rem 1rem; */
}
#user-role {
  padding: 0.25rem;
}
header {
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;
}
.heading {
    font-size: 1.25rem;
    font-weight: 600;
    padding-left: 1rem;
}
.links:hover {
  font-weight: bold;
}
.links:active {
  font-weight: italic;
}

.uunchlogo {
    left: 0;
    top: 0;
}
.header-container {
  background-color: rgb(233, 230, 225);
}
/* .useraccess-grid-container {
    display: grid;
    grid-template-columns: 2.5fr 2.5fr 4fr 2fr;
    gap: 1rem;
    margin-top: 0.5rem;
  } */
.grid-title {
    text-decoration: underline;
    text-decoration-thickness: 0.15rem;
    text-underline-offset: 0.5rem;
}
.success-notification {
  top: 0;
  width: 100%;
  z-index: 100;
}
.selected-user {
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.selected-user:hover {
  background-color: #5E53C6;
}
.selected-user:active {
  background-color: rgb(203, 201, 201);
}